footer.sb-footer.py-4.mt-auto(class=footerStyle)
    .container-fluid
        .d-flex.align-items-center.justify-content-between.small
            div
                | Copyright &copy; Your Website 2019
            div
                a(href='#') Privacy Policy
                | 
                | &middot;
                | 
                a(href='#') Terms &amp; Conditions
